.report-table {
	font-size: 20px;
	border: 1px dashed var(--bg-section2);
}

.table-row {
	display: flex;
	flex-direction: row;
	flex-grow: 0;
	flex-wrap: wrap;
	padding: 5px 15px 5px 15px;
	border-bottom: 2px solid var(--buttons);
	border-collapse: collapse;
}

.table-head {
	font-weight: bold;
	padding-top: 8px;
	padding-bottom: 8px;
}

.text {
	flex-grow: 1;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	width: 180px;
}
