
<div class="section1">
	<div class="report-and-date">
		<input onClick="window.location.href='report'" id="report-link" class="buttons" value="Report a bug">
		<b id="date"></b>
		<script>
			var month_array = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];
			var n = new Date();
			document.getElementById("date").innerHTML = "Date: " + n.getDate() + " " + month_array[n.getMonth()] + " " + n.getFullYear();
		</script>
	</div>
</div>

<div class="section2">
	<div class="report-table">
		<div class="table-row table-head">
			<div class="text">Description</div>
			<div class="text">OS/Browser</div>
			<div class="text">User</div>
			<div class="text">Date</div>
		</div>

		{{#if reports}}
		{{#each reports}}
		<div class="table-row">
			<div class="text">{{this.desc}}</div>
			<div class="text">{{this.envn}}</div>
			<div class="text">{{this.user}}</div>
			<div class="text">{{this.date}}</div>
		</div>
		{{/each}}
		{{/if}}
	</div>
</div>