
/* Navbar styling */
.navbar {
	height: 100px;
	overflow: hidden;
	background-color: var(--navbar);
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
	padding: 0;
	margin: 0;
	position: fixed;
	display: flex;
	justify-content: space-between;
	align-items: center;
	text-align: center;
}

#navbar-logo {
	width: auto;
	height: 80%;
}

header #title {
	margin: 10px 20px;
	width: 15%;
	height: 90%;
}
	header #title:hover {
		color: var(--buttons);
	}

header input[type=text] {
	padding: 10px;
	font-size: 1.2em;
	border: none;
}

header .search-container button {
	padding: 10px;
	background: var(--buttons);
	font-size: 1.2em;
	border: none;
	cursor: pointer;
	color: var(--light-font);
}

	header .search-container button:hover {
		background: var(--light-font);
		color: var(--buttons);
	}

header #username {
	margin: 0px 20px;
	font-size: 1.2em;
	color: var(--light-font);
	font-weight: bold;
	text-decoration: none;
}

header #user {
	text-decoration: underline;
}
	header #user:hover {
		color: var(--buttons);
	}
