
	<header id="navbar" class="navbar">
		<a href="home.html" id="title"><img src="/img/bounty-hunter-logo.png" id="navbar-logo"></a>
		<div class="search-box">
			<input type="text" name="search-input" class="search-txt" placeholder="Type to search"/>
			<a class="search-btn" href="#">
			<i class="fas fa-search"></i>
			</a>
		</div>
		<a href="userlogin.html" id="username"><p>Connected as: <b id="user">username</b></p></a>
	</header>