<header id="navbar" class="navbar">
	<a href="/" id="title"><img src="/img/bounty-hunter-logo.png" id="navbar-logo"></a>
	<div class="search-container">
		<form action="/" method="get">
			<input type="text" placeholder="Search.." name="search">
			<button type="submit">Submit</button>
		</form>
	</div>
	<a href="/login" id="username">
		<p>Connected as: <b id="user">{{user}}</b></p>
	</a>
</header>